.text-gradient {
    background: linear-gradient(90deg, #0D0036 41%, #26009C 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}